SPRING_PROFILES_ACTIVE=
MAIN_DB_URL=
MAIN_DB_USERNAME=
MAIN_DB_PASSWORD=
MAIN_DB_NAME=
REDIS_URL=
ACCESS_TOKEN_EXPIRATION=
REFRESH_TOKEN_EXPIRATION=
SECRET_KEY=
WEB_URIS=
EXTENSION_URI=
DOMAIN=
GEMINI_API_KEY=
RECAP_IMAGE_BASE_URL=

# prod 전용
DISCORD_ALERT_WEBHOOK_URL=
